$small: 1023px;

body {
	font-family: serif;
	line-height: 1.8;
	padding: 0px 24px;
	background-color: #303a44;
	color: white;
}

h1 {
	text-align: center;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;

	#animations {
		display: flex;
		gap: 20px;

		@media screen and (max-width: $small) {
			flex-direction: column;
			align-items: center;
			gap: 0px;
		}
	}
}

.field {
	width: 300px;
	height: 300px;
	display: block;
}

#wave-plate {
	width: 300px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form {
	margin-right: 16px;
	margin-bottom: 24px;
	display: flex;
	gap: 16px;
	border: 1px solid white;
	padding: 24px;
	border-radius: 5px;

	@media screen and (max-width: $small) {
		flex-direction: column;
		align-items: center;
		gap: 0px;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;

		label {
			margin-bottom: 4px;
			font-size: 20px;
			height: 24px;
			line-height: 0.8;
		}

		input {
			height: 30px;
			font-size: 18px;
			width: 150px;
			background-color: transparent;
			border: black 1px solid;
			border-color: white;
			border-radius: 5px;
			color: white;
			padding: 8px;
		}
	}
	button {
		margin-top: 30px;
		margin-bottom: 16px;
	}
}

button {
	font-size: 16px;
}

.explanation {
	max-width: 60ch;
	margin: auto;
	margin-bottom: 64px;
	font-size: 22px;
}

#pol-eq, #quantum-eq {
	font-size: 20px;
}

a {
	color: white;
}