$small: 1023px;

body {
	font-family: serif;
	line-height: 1.8;
	background-color: #303a44;
	color: white;
	font-size: 18px;
}

h1 {
	text-align: center;
}

#core-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	#animations {
		display: flex;
		gap: 20px;

		@media screen and (max-width: $small) {
			flex-direction: column;
			align-items: center;
			gap: 0px;
		}
	}
}

.field {
	width: 300px;
	height: 300px;
	display: block;
}

#wave-plate {
	width: 300px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#scale {
	width: 600px;
    font-size: 16px;
    margin-bottom: 16px;
}

.form {
	margin-right: 16px;
	margin-bottom: 24px;
	display: flex;
	gap: 16px;
	border: 1px solid white;
	padding: 16px;
	border-radius: 5px;

	@media screen and (max-width: $small) {
		flex-direction: column;
		align-items: center;
		gap: 0px;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 16px;

		label {
			margin-bottom: 4px;
			font-size: 20px;
			height: 24px;
			line-height: 0.8;
		}

		input {
			height: 30px;
			font-size: 18px;
			width: 150px;
			background-color: transparent;
			border: black 1px solid;
			border-color: white;
			border-radius: 5px;
			color: white;
			padding: 8px;
		}
	}

	button {
		margin-top: 30px;
		margin-bottom: 16px;
	}
}

.form-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
}

.explanation {
	max-width: 60ch;
	margin: auto;
	margin-bottom: 64px;
	font-size: 22px;
}

#pol-eq,
#quantum-eq {
	font-size: 20px;
}

a {
	color: white;
}

.buttons {
	display: flex;

	.trace-group {
		display: flex;
		align-items: center;

		label {
			margin-right: 8px;
		}
	}

	button {
		font-size: 18px;
		margin: 8px;
	}
}

#text {
	margin: 24px auto 0px auto;
	width: 80ch;
	#common-vectors {
		.header {
			font-size: 18px;
			font-weight: bold;
		}

		.header:not(:first-child) {
			text-align: center;
		}

		align-items: center;
		margin: auto;
		display: grid;
		grid-template-columns: 10fr 10fr 10fr 1fr;
	}
}

#text-animation {
	margin-top: 24px;
	.animation-label {
		text-align: center;
	}
	#regular-text {
		margin: auto;
	}
}

#references {
	margin-top: 64px;
	margin-bottom: 24px;
	font-size: 15px;
}